k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   computeResourceType = 'Job'
   cpuLimits = true
   storageClaimName = 'pvc-713003-pospisilova-base'
   storageMountPath = '/storage1'
   launchDir = '/storage1/Patient_hic/metapipeline'
   workDir = '/storage1/Patient_hic/metapipeline/work'
}

executor {
   queueSize = 30
}

process {
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1, seccompProfile:[type:'RuntimeDefault']]], [automountServiceAccountToken:false]]
   container = 'quay.io/nextflow/bash'
}

runName = 'soggy-koch'
